:root {
  /* Colors */
  --color-text: #333333;
  --color-primary: #000000;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #ebe9e1d0;

  /* Fonts */
  --font-rob: "Roboto", sans-serif;
  --font-int: "Inter", sans-serif;
}
