.section-awards {
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.certp {
  font-size: 12px;
}

.awards-main-down {
  margin-top: 50px;
}

.certs-img {
  width: 70%;
  display: flex;
}

.img {
  border: 1px solid;
  padding: 10px;
}

@media only screen and (max-width: 980px) {
  .section-awards {
    padding: 20px 50px;
  }
}

@media only screen and (max-width: 570px) {
  .certs-img {
    padding: 0;
  }
}
